In [2]:
import time
import read_espn
import pandas as pd

In [3]:
gameids, results = read_espn.get_gameid(2017,4)
print(gameids)
print(results)

['400951678', '400950241', '400951685', '400951712', '400951716', '400951724', '400951727', '400951730', '400951708', '400951720', '400951735', '400951738', '400951742', '400951744', '400951747', '400951752']
{'400951678': 'GB 35, CHI 14', '400950241': 'NO 20, MIA 0', '400951685': 'BUF 23, ATL 17', '400951712': 'CIN 31, CLE 7', '400951716': 'LAR 35, DAL 30', '400951724': 'DET 14, MIN 7', '400951727': 'CAR 33, NE 30', '400951730': 'NYJ 23, JAX 20 (OT)', '400951708': 'PIT 26, BAL 9', '400951720': 'HOU 57, TEN 14', '400951735': 'ARI 18, SF 15 (OT)', '400951738': 'PHI 26, LAC 24', '400951742': 'TB 25, NYG 23', '400951744': 'DEN 16, OAK 10', '400951747': 'SEA 46, IND 18', '400951752': 'KC 29, WSH 20'}

In [4]:
gameids, results = read_espn.get_gameid(2018,4)
print(gameids)
print(results)

['401030839', '401030847', '401030846', '401030845', '401030844', '401030842', '401030843', '401030841', '401030840', '401030930', '401030848', '401030931', '401030932', '401030933', '401030934']
{'401030839': [], '401030847': [], '401030846': [], '401030845': [], '401030844': [], '401030842': [], '401030843': [], '401030841': [], '401030840': [], '401030930': [], '401030848': [], '401030931': [], '401030932': [], '401030933': [], '401030934': []}

In [5]:
def weekly_games(season,week):
    gameids, results = read_espn.get_gameid(season,week)
    data = [ 
        {
            'gameid':gid,
            'season':season,
            'week':week,
            'result':results[gid]
        } for i, gid in enumerate(gameids)
    ]
    gamedata_df = pd.DataFrame(data)
    # Set the gameId as the unique identifier for each row
    gamedata_df['gameid'] = gamedata_df['gameid'].astype(str)
    gamedata_df.set_index('gameid', inplace=True)
    return gamedata_df

In [6]:
weekly_games(2018,4)

          result  season  week
gameid
401030839     []    2018     4
401030847     []    2018     4
401030846     []    2018     4
401030845     []    2018     4
401030844     []    2018     4
401030842     []    2018     4
401030843     []    2018     4
401030841     []    2018     4
401030840     []    2018     4
401030930     []    2018     4
401030848     []    2018     4
401030931     []    2018     4
401030932     []    2018     4
401030933     []    2018     4
401030934     []    2018     4

In [7]:
# Given a dataframe whose index consists of gameids
# Scrape drive and play-by-play data for the games

def scrape_gameset(games_df):
    # List of DFs for each game
    pbp_list = []
    drivelevel_list = []
    game_home = {}
    game_away = {}
    
    for gid in games_df.index:
        try:
            print(gid)
            pbp_df, drives_df = read_espn.get_game_df(gid)
            # Add column for gameid
            pbp_df['gameid'] = gid
            drives_df['gameid'] = gid
            # Extract home/away from game df
            game_home[gid] = pbp_df['home'].values[0]
            game_away[gid] = pbp_df['away'].values[0]
            
            pbp_list.append(pbp_df)
            drivelevel_list.append(drives_df)
            
        except:
            print("Failed to scrape gameid",gid)
            
        time.sleep(0.25)
        
    # Merge DFs together
    allplays_df = pd.concat(pbp_list)
    alldrives_df = pd.concat(drivelevel_list)
    
    # Add home/away coloumns to games_df
    games_df['home'] = pd.Series(game_home)
    games_df['away'] = pd.Series(game_away)
    
    return (games_df, alldrives_df, allplays_df)

In [8]:
read_espn.get_game_df('400951620')

(                downdist                                             detail  \
 0                     []  (15:00 - 1st) R.Bullock kicks 65 yards from CI...
 1   [1st & 10 at HOU 25]  (15:00 - 1st)  L.Miller right guard to HST 29 ...
 2    [2nd & 6 at HOU 29]  (14:25 - 1st)  D.Watson pass incomplete short ...
 3    [3rd & 6 at HOU 29]  (14:19 - 1st)  (Shotgun) D.Watson pass incompl...
 4    [4th & 6 at HOU 29]  (14:14 - 1st)  S.Lechler punts 58 yards to CIN...
 0   [1st & 10 at CIN 46]  (13:59 - 1st)  J.Hill right tackle to HST 49 f...
 1    [2nd & 5 at HOU 49]  (13:24 - 1st)  A.Dalton pass short left to A.G...
 2   [2nd & 14 at CIN 42]  (13:01 - 1st)  (Shotgun) A.Dalton pass short m...
 3    [3rd & 8 at CIN 48]  (12:28 - 1st)  (Shotgun) A.Dalton sacked at CI...
 4   [4th & 12 at CIN 44]  (12:21 - 1st)  (Punt formation) PENALTY on CIN...
 5   [4th & 17 at CIN 39]  (12:09 - 1st)  K.Huber punts 58 yards to HST 3...
 0    [1st & 10 at HOU 3]  (11:59 - 1st)  L.Miller left end to HST 3 for ...
 1    [2nd & 10 at HOU 3]  (11:38 - 1st)  (Shotgun) D.Watson pass short r...
 2     [3rd & 5 at HOU 8]  (10:56 - 1st)  L.Miller right end to HST 10 fo...
 3    [4th & 3 at HOU 10]  (10:19 - 1st)  S.Lechler punts 53 yards to CIN...
 0   [1st & 10 at CIN 45]  (10:07 - 1st)  J.Mixon up the middle to CIN 47...
 1        [1st & 5 at 50]  (9:48 - 1st)  A.Dalton pass incomplete deep ri...
 2        [2nd & 5 at 50]  (9:42 - 1st)  J.Mixon left end to HST 48 for 2...
 3    [3rd & 3 at HOU 48]  (8:59 - 1st)  (Shotgun) A.Dalton pass short le...
 4    [4th & 1 at HOU 46]  (8:23 - 1st)  K.Huber punts 31 yards to HST 15...
 0   [1st & 10 at HOU 15]  (8:15 - 1st)  D.Watson pass short right to B.M...
 1    [2nd & 2 at HOU 23]  (7:36 - 1st)  D.Foreman left guard to HST 32 f...
 2   [1st & 10 at HOU 32]  (7:01 - 1st)  D.Foreman up the middle to HST 3...
 3                     []           (6:13 - 1st) Timeout #1 by HST at 06:13.
 4    [2nd & 5 at HOU 37]  (6:13 - 1st)  (Shotgun) D.Watson pass incomple...
 5    [3rd & 5 at HOU 37]  (6:10 - 1st)  (Shotgun) D.Watson sacked at HST...
 6   [4th & 19 at HOU 23]  (5:28 - 1st)  S.Lechler punts 42 yards to CIN ...
 0   [1st & 10 at HOU 39]  (5:13 - 1st)  A.Dalton pass short left to G.Be...
 1   [1st & 15 at HOU 44]  (4:46 - 1st)  J.Ross left end to HST 32 for 12...
 0   [1st & 10 at CIN 20]  (4:32 - 1st)  D.Foreman left tackle to CIN 15 ...
 ..                   ...                                                ...
 4   [1st & 10 at HOU 25]  (7:01 - 4th)  L.Miller left tackle to HST 28 f...
 5    [2nd & 7 at HOU 28]  (6:31 - 4th)  (Shotgun) D.Watson pass incomple...
 6    [3rd & 7 at HOU 28]  (6:25 - 4th)  (Shotgun) D.Watson pass short le...
 7   [1st & 10 at HOU 37]  (5:46 - 4th)  L.Miller left tackle to HST 39 f...
 8    [2nd & 8 at HOU 39]  (5:04 - 4th)  (Shotgun) L.Miller left tackle t...
 9   [1st & 10 at CIN 42]  (4:22 - 4th)  (Shotgun) D.Watson pass short le...
 10   [2nd & 1 at CIN 33]  (4:14 - 4th)  D.Foreman left tackle to CIN 29 ...
 11  [1st & 10 at CIN 29]  (3:40 - 4th)  (Shotgun) D.Watson pass incomple...
 12  [1st & 20 at CIN 39]  (3:33 - 4th)  (Shotgun) D.Watson pass short le...
 13  [2nd & 18 at CIN 37]  (2:51 - 4th)  (Shotgun) L.Miller left guard to...
 14  [3rd & 16 at CIN 35]  (2:09 - 4th)  (Shotgun) D.Watson scrambles up ...
 15   [4th & 5 at CIN 24]     (1:56 - 4th) Ka'imi Fairbairn 42 Yd Field Goal
 16                    []                    (1:56 - 4th) Two-Minute Warning
 0                     []  (1:56 - 4th) K.Fairbairn kicks 69 yards from H...
 1   [1st & 10 at CIN 31]  (1:50 - 4th)  (Shotgun) A.Dalton pass short le...
 2   [1st & 10 at CIN 43]  (1:45 - 4th)  (Shotgun) A.Dalton pass incomple...
 3   [2nd & 10 at CIN 43]  (1:42 - 4th)  (Shotgun) A.Dalton pass short ri...
 4    [3rd & 4 at CIN 49]  (1:20 - 4th)  (Shotgun) A.Dalton pass incomple...
 5    [4th & 4 at CIN 49]  (1:13 - 4th)  (Shotgun) PENALTY on CIN-J.Fishe...
 6    [4th & 9 at CIN 44]  (1:13 - 4th)  (Shotgun) A.Dalton pass incomple...
 0   [1st & 10 at CIN 44]  (1:08 - 4th)  (Shotgun) PENALTY on HST-J.Daven...
 1   [1st & 15 at CIN 49]  (1:08 - 4th)  L.Miller up the middle to CIN 43...
 2                     []           (1:02 - 4th) Timeout #2 by CIN at 01:02.
 3    [2nd & 9 at CIN 43]  (1:02 - 4th)  L.Miller left tackle to CIN 38 f...
 4                     []           (0:57 - 4th) Timeout #3 by CIN at 00:57.
 5    [3rd & 4 at CIN 38]  (0:57 - 4th)  L.Miller up the middle to CIN 40...
 6                     []           (0:12 - 4th) Timeout #1 by HST at 00:12.
 7    [4th & 6 at CIN 40]  (0:12 - 4th)  S.Lechler punts 30 yards to CIN ...
 0   [1st & 10 at CIN 20]  (0:02 - 4th)  (Shotgun) A.Dalton pass short mi...
 1                     []                                           END GAME

     play_num home away possession home_score_before away_score_before  \
 0          1  HOU  CIN        HOU                 0                 0
 1          2  HOU  CIN        HOU                 0                 0
 2          3  HOU  CIN        HOU                 0                 0
 3          4  HOU  CIN        HOU                 0                 0
 4          5  HOU  CIN        HOU                 0                 0
 0          1  HOU  CIN        CIN                 0                 0
 1          2  HOU  CIN        CIN                 0                 0
 2          3  HOU  CIN        CIN                 0                 0
 3          4  HOU  CIN        CIN                 0                 0
 4          5  HOU  CIN        CIN                 0                 0
 5          6  HOU  CIN        CIN                 0                 0
 0          1  HOU  CIN        HOU                 0                 0
 1          2  HOU  CIN        HOU                 0                 0
 2          3  HOU  CIN        HOU                 0                 0
 3          4  HOU  CIN        HOU                 0                 0
 0          1  HOU  CIN        CIN                 0                 0
 1          2  HOU  CIN        CIN                 0                 0
 2          3  HOU  CIN        CIN                 0                 0
 3          4  HOU  CIN        CIN                 0                 0
 4          5  HOU  CIN        CIN                 0                 0
 0          1  HOU  CIN        HOU                 0                 0
 1          2  HOU  CIN        HOU                 0                 0
 2          3  HOU  CIN        HOU                 0                 0
 3          4  HOU  CIN        HOU                 0                 0
 4          5  HOU  CIN        HOU                 0                 0
 5          6  HOU  CIN        HOU                 0                 0
 6          7  HOU  CIN        HOU                 0                 0
 0          1  HOU  CIN        CIN                 0                 0
 1          2  HOU  CIN        CIN                 0                 0
 0          1  HOU  CIN        HOU                 0                 0
 ..       ...  ...  ...        ...               ...               ...
 4          5  HOU  CIN        HOU                10                 9
 5          6  HOU  CIN        HOU                10                 9
 6          7  HOU  CIN        HOU                10                 9
 7          8  HOU  CIN        HOU                10                 9
 8          9  HOU  CIN        HOU                10                 9
 9         10  HOU  CIN        HOU                10                 9
 10        11  HOU  CIN        HOU                10                 9
 11        12  HOU  CIN        HOU                10                 9
 12        13  HOU  CIN        HOU                10                 9
 13        14  HOU  CIN        HOU                10                 9
 14        15  HOU  CIN        HOU                10                 9
 15        16  HOU  CIN        HOU                10                 9
 16        17  HOU  CIN        HOU                10                 9
 0          1  HOU  CIN        CIN                13                 9
 1          2  HOU  CIN        CIN                13                 9
 2          3  HOU  CIN        CIN                13                 9
 3          4  HOU  CIN        CIN                13                 9
 4          5  HOU  CIN        CIN                13                 9
 5          6  HOU  CIN        CIN                13                 9
 6          7  HOU  CIN        CIN                13                 9
 0          1  HOU  CIN        HOU                13                 9
 1          2  HOU  CIN        HOU                13                 9
 2          3  HOU  CIN        HOU                13                 9
 3          4  HOU  CIN        HOU                13                 9
 4          5  HOU  CIN        HOU                13                 9
 5          6  HOU  CIN        HOU                13                 9
 6          7  HOU  CIN        HOU                13                 9
 7          8  HOU  CIN        HOU                13                 9
 0          1  HOU  CIN        CIN                13                 9
 1          2  HOU  CIN        CIN                13                 9

    home_score_after away_score_after  drive_num
 0                 0                0          0
 1                 0                0          0
 2                 0                0          0
 3                 0                0          0
 4                 0                0          0
 0                 0                0          1
 1                 0                0          1
 2                 0                0          1
 3                 0                0          1
 4                 0                0          1
 5                 0                0          1
 0                 0                0          2
 1                 0                0          2
 2                 0                0          2
 3                 0                0          2
 0                 0                0          3
 1                 0                0          3
 2                 0                0          3
 3                 0                0          3
 4                 0                0          3
 0                 0                0          4
 1                 0                0          4
 2                 0                0          4
 3                 0                0          4
 4                 0                0          4
 5                 0                0          4
 6                 0                0          4
 0                 0                0          5
 1                 0                0          5
 0                 3                0          6
 ..              ...              ...        ...
 4                13                9         23
 5                13                9         23
 6                13                9         23
 7                13                9         23
 8                13                9         23
 9                13                9         23
 10               13                9         23
 11               13                9         23
 12               13                9         23
 13               13                9         23
 14               13                9         23
 15               13                9         23
 16               13                9         23
 0                13                9         24
 1                13                9         24
 2                13                9         24
 3                13                9         24
 4                13                9         24
 5                13                9         24
 6                13                9         24
 0                13                9         25
 1                13                9         25
 2                13                9         25
 3                13                9         25
 4                13                9         25
 5                13                9         25
 6                13                9         25
 7                13                9         25
 0                13                9         26
 1                13                9         26

 [177 rows x 11 columns],
    away away_score_after away_score_before  drive home home_score_after  \
 0   CIN                0                 0      0  HOU                0
 1   CIN                0                 0      1  HOU                0
 2   CIN                0                 0      2  HOU                0
 3   CIN                0                 0      3  HOU                0
 4   CIN                0                 0      4  HOU                0
 5   CIN                0                 0      5  HOU                0
 6   CIN                0                 0      6  HOU                3
 7   CIN                3                 0      7  HOU                3
 8   CIN                3                 3      8  HOU                3
 9   CIN                3                 3      9  HOU                3
 10  CIN                3                 3     10  HOU                3
 11  CIN                3                 3     11  HOU                3
 12  CIN                3                 3     12  HOU               10
 13  CIN                6                 3     13  HOU               10
 14  CIN                6                 6     14  HOU               10
 15  CIN                9                 6     16  HOU               10
 16  CIN                9                 9     17  HOU               10
 17  CIN                9                 9     18  HOU               10
 18  CIN                9                 9     19  HOU               10
 19  CIN                9                 9     20  HOU               10
 20  CIN                9                 9     21  HOU               10
 21  CIN                9                 9     22  HOU               10
 22  CIN                9                 9     23  HOU               13
 23  CIN                9                 9     24  HOU               13
 24  CIN                9                 9     25  HOU               13
 25  CIN                9                 9     26  HOU               13

    home_score_before offense plays       result  time yds_gained
 0                  0     HOU     3         Punt  1:01          4
 1                  0     CIN     4         Punt  1:59         -7
 2                  0     HOU     3         Punt  1:53          7
 3                  0     CIN     3         Punt  1:52          9
 4                  0     HOU     5         Punt  3:02          8
 5                  0     CIN     1       Fumble  0:41          7
 6                  0     HOU     6   Field Goal  3:04         12
 7                  3     CIN     5   Field Goal  2:44         43
 8                  3     HOU     6         Punt  3:24         13
 9                  3     CIN     6         Punt  3:03         28
 10                 3     HOU     3         Punt  2:01          9
 11                 3     CIN     3         Punt  0:46          7
 12                 3     HOU     9    Touchdown  3:40         94
 13                10     CIN     6   Field Goal  0:48         64
 14                10     HOU     0  End of Half  0:02          0
 15                10     CIN    17   Field Goal  8:34         63
 16                10     HOU     7         Punt  3:24         24
 17                10     CIN     6         Punt  2:30         28
 18                10     HOU     3         Punt  1:52          7
 19                10     CIN     5         Punt  2:25         15
 20                10     HOU     3         Punt  1:22          0
 21                10     CIN     3         Punt  1:33          2
 22                10     HOU    13   Field Goal  6:24         66
 23                13     CIN     5        Downs  0:48         13
 24                13     HOU     3         Punt  1:06          4
 25                13     CIN     1  End of Game  0:02          8  )

In [9]:
games_df = weekly_games(2017,2)
(games_df, drives_df, plays_df) = scrape_gameset(games_df)

400951620
400951632
400951636
400951639
400951643
400951645
400951630
400951635
400951626
400951669
400951666
400951673
400951674
400951676
400951679
400951681

In [10]:
games_df

                        result  season  week home away
gameid
400951620        HOU 13, CIN 9    2017     2  HOU  CIN
400951632  ARI 16, IND 13 (OT)    2017     2  ARI  IND
400951636        KC 27, PHI 20    2017     2  PHI   KC
400951639         NE 36, NO 20    2017     2   NE   NO
400951643        PIT 26, MIN 9    2017     2  MIN  PIT
400951645         TB 29, CHI 7    2017     2  CHI   TB
400951630         CAR 9, BUF 3    2017     2  BUF  CAR
400951635       TEN 37, JAX 16    2017     2  TEN  JAX
400951626       BAL 24, CLE 10    2017     2  CLE  BAL
400951669       OAK 45, NYJ 20    2017     2  NYJ  OAK
400951666       MIA 19, LAC 17    2017     2  MIA  LAC
400951673       DEN 42, DAL 17    2017     2  DAL  DEN
400951674       WSH 27, LAR 20    2017     2  WSH  LAR
400951676         SEA 12, SF 9    2017     2   SF  SEA
400951679        ATL 34, GB 23    2017     2   GB  ATL
400951681       DET 24, NYG 10    2017     2  DET  NYG

In [11]:
# One-time use to get gameids history
weekly_dfs = []
for season in range(2015,2016):
    for week in range(1,3):
        df = read_espn.weekly_games(season,week)
        weekly_dfs.append(df)
        
game_history_df = pd.concat(weekly_dfs)
game_history_df

                        result  season  week
gameid
400791485        NE 28, PIT 21    2015     1
400791541       BUF 27, IND 14    2015     1
400791489        GB 31, CHI 23    2015     1
400791550  STL 34, SEA 31 (OT)    2015     1
400791497       NYJ 31, CLE 10    2015     1
400791544       MIA 17, WSH 10    2015     1
400791547        CAR 20, JAX 9    2015     1
400791493        KC 27, HOU 20    2015     1
400791555        ARI 31, NO 19    2015     1
400791558        SD 33, DET 28    2015     1
400791587       DEN 19, BAL 13    2015     1
400791585       CIN 33, OAK 13    2015     1
400791582        TEN 42, TB 14    2015     1
400791590       DAL 27, NYG 26    2015     1
400791596       ATL 26, PHI 24    2015     1
400791600         SF 20, MIN 3    2015     1
400791624        DEN 31, KC 24    2015     2
400791664        NE 40, BUF 32    2015     2
400791661       ARI 48, CHI 23    2015     2
400791666        CIN 24, SD 19    2015     2
400791669       CLE 28, TEN 14    2015     2
400791638       MIN 26, DET 16    2015     2
400791634         TB 26, NO 19    2015     2
400791672       ATL 24, NYG 20    2015     2
400791630        PIT 43, SF 18    2015     2
400791675       WSH 24, STL 10    2015     2
400791628       CAR 24, HOU 17    2015     2
400791702       OAK 37, BAL 33    2015     2
400791680       JAX 23, MIA 20    2015     2
400791705       DAL 20, PHI 10    2015     2
400791708        GB 27, SEA 17    2015     2
400791711        NYJ 20, IND 7    2015     2

In [12]:
histfile = "/home/welced12/googledrive/nfl_data/devl/espn_gamedata.json"
game_history_df.to_json(histfile)

In [20]:
read_hist = pd.read_json(histfile, convert_axes=False)
read_hist

                        result  season  week
400791485        NE 28, PIT 21    2015     1
400791489        GB 31, CHI 23    2015     1
400791493        KC 27, HOU 20    2015     1
400791497       NYJ 31, CLE 10    2015     1
400791541       BUF 27, IND 14    2015     1
400791544       MIA 17, WSH 10    2015     1
400791547        CAR 20, JAX 9    2015     1
400791550  STL 34, SEA 31 (OT)    2015     1
400791555        ARI 31, NO 19    2015     1
400791558        SD 33, DET 28    2015     1
400791582        TEN 42, TB 14    2015     1
400791585       CIN 33, OAK 13    2015     1
400791587       DEN 19, BAL 13    2015     1
400791590       DAL 27, NYG 26    2015     1
400791596       ATL 26, PHI 24    2015     1
400791600         SF 20, MIN 3    2015     1
400791624        DEN 31, KC 24    2015     2
400791628       CAR 24, HOU 17    2015     2
400791630        PIT 43, SF 18    2015     2
400791634         TB 26, NO 19    2015     2
400791638       MIN 26, DET 16    2015     2
400791661       ARI 48, CHI 23    2015     2
400791664        NE 40, BUF 32    2015     2
400791666        CIN 24, SD 19    2015     2
400791669       CLE 28, TEN 14    2015     2
400791672       ATL 24, NYG 20    2015     2
400791675       WSH 24, STL 10    2015     2
400791680       JAX 23, MIA 20    2015     2
400791702       OAK 37, BAL 33    2015     2
400791705       DAL 20, PHI 10    2015     2
400791708        GB 27, SEA 17    2015     2
400791711        NYJ 20, IND 7    2015     2